!!!
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    

  %body
    %h1.title Rotten Potatoes!
    #main
      - if !@current_user
        =button_to 'Sign up/Login', login_path, :method => :get, :id =>'signupLogin'
      - else
        =button_to 'Log Out', logout_path, :method => :delete, :id =>'logout'
      - if flash[:notice]
        %div{:class => flash[:notice][:class]}
        #notice.message= flash[:notice][:body]
      - elsif flash[:warning]
        %div{:class => flash[:notice][:class]}
        #warning.message= flash[:warning][:body]

      = yield
